{% extends "base.html" %}
{% block content %}

    <h2>{{ page_title }}</h2>
    <p> This is a supplamental app built in flask to present various user personas for App Dev Documentation.</p>
    <p>
       This site is for: {{ about_data.project_title }}
    </p>
    <p>{{ about_data.project_description }}</p>
    <p>
        Progect source code is in this git <a href={{ about_data.project_url }} target="_blank" aria-label="Visit Git repo page (opens in a new tab)">repo</a>
    </p>

{% endblock %}