{% extends "base.html" %}
{% block content %}


<h2>{{ persona.name }}</h2>
<div class="container-fluid">
<img src="{{ persona.image_source }}" alt="Profile image for {{ persona.name }}" class="img-fluid">
</div>
<h3>Bio</h3>
<p>{{ persona.bio }}</p>
<h3>Motivations</h3>

<h4>Goals</h4>
<ul>
    {% for goal in persona.goals %}
    <li>{{ goal }}</li>
    {% endfor %}
</ul>
<h4>Frustrations</h4>
<ul>
    {% for frustration in persona.frustrations %}
    <li>{{ frustration }}</li>
    {% endfor %}
</ul>                             
<h3>Areas of Interest</h3>
Technical Data
<div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="{{ persona.tech }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ persona.tech }}%;">
        <span class="sr-only">{{ persona.tech }}% complete</span>
    </div>
</div>
Business Impact
<div class="progress">
    <div class="progress-bar bg-success" role="progressbar" aria-valuenow="{{ persona.business }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ persona.business }}%;">
        <span class="sr-only">{{ persona.business }}% complete</span>
    </div>
</div>
Customer Interaction
<div class="progress">
    <div class="progress-bar bg-info" role="progressbar" aria-valuenow="{{ persona.customer }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ persona.customer }}%;">
        <span class="sr-only">{{ persona.customer }}% complete</span>
    </div>
</div>
Social Dynamic
<div class="progress">
    <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="{{ persona.social }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ persona.social }}%;">
        <span class="sr-only">{{ persona.social }}% complete</span>
    </div>
</div>
Service Availability
<div class="progress">
    <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="{{ persona.availability }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ persona.availability }}%;">
        <span class="sr-only">{{ persona.availability }}% complete</span>
    </div>
</div>      
      
<h3>Desired Outcomes</h3>
<ol>
    {% for outcome in persona.outcomes %}
    <li>{{ outcome }}</li>
    {% endfor %}
</ol> 
{% endblock %}